* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('https://cdn.crispedge.com/fffe7a.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('https://cdn.crispedge.com/fffe7a.webp');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('https://cdn.crispedge.com/fffe7a.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.container {
  display: flex;
  width: 100%;
  height: 900px;
}

.header-container {
  display: flex;
  width: 100%;
  height: 200px;
}
.timer {
  flex: 1;
  text-align: center;
}

.trophy {
  flex: 2;
}

.instructions {
  flex: 1;
}

.maze {
  flex: 3;
  background-color: bisque;
}
.maze-background{
  background-color: gray !important;
}

.grid-size{
height: 100px !important;
}

#token{
  top: 100;
  right: 0;
  position: absolute;
}